.logo {
	font-size: 72px;
	line-height: 78px;
}

.my-header {
    padding: 4px;
    margin-bottom: 3px;
}

.meta-header {
    
}

.min-margin {
    margin-bottom: 4px;
    padding-bottom: 0;
}

.text-center {
	text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.auto-centered {
    margin-left: auto;
    margin-right: auto;
}

.add-question-text {
    font-size: 16px;
}

.add-question-text textarea {
    rows: 7;
    cols: 80;
}
