{% extends "base.html" %}
{% block title %}Ask a question!{% endblock %}
{% block content %}
<div class="row">
    <!-- Page body header area. -->
    <div class="span6 offset3 text-center">
        <h2>got a question? just ask!</h2>
    </div>
</div>

<div class="row">
    <!-- The main content container. -->
    <div class="span8 offset2 well">
    {% from "macros.html" import render_field %}
    <form method="POST" action="{{ url_for('add_question') }}">
        {{ form.csrf_token }}
        <div class="row">
            <!-- Add question meta (category) area -->
            <div class="span3 offset1 text-right">choose category:</div>
            <div class="span3 text-left">
            {% if categories %}
                <select name="category">
                {% for cat in categories %}
                    <option value="{{ cat[0] }}">{{ cat[1] }}</option>
                {% endfor %}
                </select>
            {% endif %}
            </div>
        </div>

        <div class="row">
            <!-- Add question preheader. -->
            <div class="span6 offset1"><h3>ask your question</h3></div>
        </div>

        <div class="row">
            <!-- Add question text input area. -->
            <div class="span6 offset1 add-question-text">
                {{ render_field(form.question_text) }}
            </div>
        </div>

        <div class="row">
            <!-- Add question submit or no area. -->
            <div class="span3 offset1"><h3>ready to ask?</h3></div>
            <div class="span3">
                <button type="submit" class="btn btn-large btn-danger" value="no">
                    not yet..</button>
                <button type="submit" class="btn btn-large btn-danger" value="yes">
                    yes, ask!</button>
            </div>
        </div>

        <div class="row">
            <div class="span4 offset2">
                <div class="navbar">
                    <div class="navbar-inner">
                        <ul class="nav">
                            <li>
                                <a href="{{ url_for('homepage') }}">
                                nevermind</a></li>
                            <li><a href="{{ url_for('add_question') }}">
                                start over</a></li>
                            <li><a href="{{ url_for('about_info') }}">
                                help</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>
{% endblock %}
