{% extends "base.html" %}
{% block header %}Add category{% endblock %}
{% block content %}
<div class="row">
    <!-- Page header -->
    <div class="span6 offset3 text-center"><h1>categories</h1></div>
</div>

<div class="row">
<!-- Main body area -->
<div class="span8 offset2 well">
    <div class="row">
        <!-- Categories list -->
        <div class="span6 offset1">
            <h4>this is a list of all the nosi question categories</h4>
            <h4>click on the category you're interested in to see related 
                questions</h4> 
            <dl>
            {% for category in categories %}
                <dt>{{ category[1] }}
                <dd><a href="{{ 
                        url_for('random_question_page', 
                        category=category[0]) }}">
                        Check out a random question from the 
                        {{ category[1] }} category!</a>
            {% else %}
                <dt><h3>What? No categories...</h3>
                <dd>We're sorry, somehow no categories are showing up.
                    Please, enter a new one below and lets get this right!
            {% endfor %}
            </dl>
        </div>
    </div>
    
    <div class="row">
        <!-- Add your own category -->
        {% from "macros.html" import render_field %}
        <div class="span4 offset2">
            <form method="POST" action="{{ url_for('categories_main') }}">
                {{ form.csrf_token }}
                {{ render_field(form.category_name) }}
                <input type="submit" value="submit category" class="btn" />
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
