<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css" />
	<link rel="stylesheet" type="text/css" href="mystyle.css" />
</head>

<body>
<div class="container">

<!-- Header area. -->
<div class="row page-header">
	<div class="span8 offset2"><h1 class="logo">Yes or Know?</h1></div>
</div>

<!-- Main Body/Content area. -->
<div class="row">
	<div class="span5">
		<div class="well video-intro"><img alt="Video Area" /></div>
	</div>
	<div class="span7">
		<div class="row">
			<div class="span6 offset1">
				<p class="lead">Welcome to Yes or Know! We're glad to have you, and 
				hope that you will find a new home with us here.  Yes 
				or Know is a social question and answering platform, 
				with a simple yet elegant twist...</p>
				
				<p class="lead">Come find out what all the hype is about and get 
				involved!</p>
			</div>
		</div>
		<div class="row">
			<div class="span6 offset1">
				<div class="q-container">
					<h3>Want to learn how it works?</h3>
					<button class="btn ynbutton" type="button">
						Nope, I'm ready!
					</button>
					<button class="btn ynbutton" type="button">
						Yes show me!
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span5 offset2 yntooltip">
				<span class="badge badge-inverse">*</span>
				No need for an intro??
				<i class="icon-share-alt"></i>
			</div>
		</div>
		<div class="row">
			<div class="span7">
				<h3 class="center">Get started in 5 seconds!</h3>
				<h3 class="center">One click sign up!</h3>
			</div>
		</div>
	</div>
</div>

<!-- Footer Area -->
<div class="row">
	<div class="span6 offset3"><h6>Footer Link Area</h6></div>
</div>
</div>
</body>
</html>
