{% extends "base.html" %}
{% block title %}Welcome to the family{% endblock %}
{% block content %}
<div class="row">
    <!-- Page header -->
    <div class="span6 offset3">
        <h2 class="text-center min-margin">Come on in!</h2>
    </div>
</div>

<div class="row">
    <div class="span6 offset3">
        <h3 class="center">here, being <strong>nosi</strong> is a good thing!
            </h3>
    </div>
</div>

<div class="row">
    <!-- User registration start - email field -->
    <div class="span6 offset2 well">
        <div class="row">
            <div class="span4"><h3>Welcome to nosi!</h3></div>
        </div>

        <div class="row">
            <div class="span5 offset1">
                <p class="lead">In just a few seconds you will be a part 
                    of the newest and fastest growing question and answer site 
                    in the world.</p>
                <p>To get started, enter an email address to login with. This 
                    also lets us know your not a robot! Dont worry, your 
                    information is safe with us, and we wont solicit or 
                    sell your email address to anyone.</p>
            </div>
        </div>
        
        <div class="row">
            <div class="span4 offset1">
                {% from "macros.html" import render_field %}
                <form method="POST" action = {{ url_for('registration') }}>
                    {{ form.csrf_token }}
                    {{ render_field(form.user_email) }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span6 offset4 well">
        <div class="row">
            <div class="span4"><h3>Your First Question</h3></div>
        </div>
        
        <div class="row">
            <div class="span5 offset1">
                <p class="lead">This is a sample question to show you how 
                    some questions on nosi are phrased.  Due to every 
                    response being a variation of 'Yes' or 'No', some 
                    questions may be oriented at one particular user group or 
                    scenario in order to get an accurate response in a yes or 
                    no format.  Try it out! Read the following question 
                    carefully, then  indicate your answer by simply clicking 
                    on the corresponding <strong>yes</strong> or 
                    <strong>no</strong>button. </p>
            </div>
        </div>
        
        <div class="row">
            <div class="span5 offset1">
                <h3>Are you a female?</h3>
            </div>
        </div>
        
        <div class="row">
            <div class="span2 offset1">
                <input type="submit" class="btn btn-large btn-danger" name="gender_btn" value="no" />
            </div>
            <div class="span2">
                <input type="submit" class="btn btn-large btn-danger" name="gender_btn" value="yes" />
            </div>
        </form>
        </div>
    </div>
</div>       
{% endblock %}
