{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="span8 offset2 well">
    <div class="row">
        <!-- Question meta-area -->
        <div class="span3 offset1"><h3>427 Answers!</h3></div>
        <div class="span3 text-right">
            <h3>category: {{ question.category }}</h3>
        </div>
    </div>
    
    <div class="row">
        <!-- Question header/title area -->
        <div class="span5"><h2>{{ question.author }} asked...</h2></div>
    </div>

    <div class="row">
        <!-- Question text/body area. -->
        <div class="span6 offset1">
            <p class="lead">{{ question.text }}</p>
        </div>
    </div>

    <div class="row">
        <!-- Question footer area. Contains answer and information area. -->
        <div class="span4 offset1"><h3>Add Your answer!</h3></div>
    </div>

    <div class="row">
        <div class="span2 offset2 float-centered">
            <button class="btn btn-danger">No!</button>
        </div>
        <div class="span2 float-centered">
            <button class="btn btn-success">Yes!</button>
        </div>
    </div>
</div>
</div>
{% endblock %}
